{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<head></head>
<h1>Login</h1>
<form action="{% url 'core:login' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="gray-btn">submit</button>
    </br>
    {% if form.errors or form.non_field_errors %}
        <div>
            {% for field in form.errors %}
                {{field.errors}}
            {% endfor %}

            {{form.non_field_errors}}
        </div>
    {% endif %}
</form>
{% endblock content %}